---
import type { HeroConfig, HeroMainConfig, Announcement, Event } from "../types";
import HeroClient from "./HeroClient";

interface Props {
  config: HeroConfig;
  main: HeroMainConfig;
  announcements: Announcement[];
  heroEvents?: Event[]; // List of ALL potential hero events
}

const { config, main, announcements, heroEvents } = Astro.props;
---

<section
  id="hero"
  class="bg-bg-0 transition-colors duration-300 overflow-hidden relative"
>
  <HeroClient
    config={config}
    main={main}
    announcements={announcements}
    heroEvents={heroEvents || []}
    client:load
  />
</section>
